<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
        <title>Gym Manager</title>
    {% endblock head %}

    <link rel="stylesheet" href="/style.css">
</head>

<body>  

    <header>
        <nav class="links">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
        </nav>    
    </header>    

    {% block content %}
    {% endblock content %}

    <script src="/scripts.js"> </script>

</body>

</html>